

.custom-image{
    width: auto;  /* Automatically adjust the height to maintain the aspect ratio */
    height: 100%; /* Set the width to 100% of the parent container */

}



.box-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.line-container {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 40px; /* Adjust the spacing between lines */
    flex-basis: 100%; /* Force new line for each line-container */
    justify-content: center; /* Center align contents within line-container */
  }
.boxes{

      border: 2px solid #77B6EA;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      background-color: #77B6EA;
      border-radius: 10px;
      margin: 10px; /* Adjust the margin to control the gap */
}

.herofirstcontainer{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.herofirstcontainerimg{
  width: 100%;
  object-fit: contain;
}


/* programming skill wala section */
