
.Navbar {
    padding: 20px;
    margin: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .Navbar ul a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 1.6rem; /* Increase the font size */
    margin-right: 100px; /* Adjust the spacing between the links */
  }
  
  a:hover {
    background-color:#C6A486;   /* darker shade*/
   /* background-color: #F9F4EA;   /* lighter shade */
   /* background-color: #8E5FBF;   /* complementary shade */
  }
  /*
  .Navbar {
    display: flex;
    justify-content: flex-end;
  }
  */
  