.skill-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills{
    margin-top: 5vh;
    margin-left: 10vw;
  }
  
  
  .skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills li {
    display: block;
    margin-bottom: 10px;
  }

  
  .skill-name {
    margin-right: 10px;
    font-size: 2vw;
    padding: 0.5vh;
  }
  


  