code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');



*{
  font-family: 'Open Sans', sans-serif;
}

body {
 /* background-color: #F2E2D2; */
 background-color: #F5F5F5;
}

h1, h4, p, a{
  text-decoration: none;
  color: black;
}